html {
    height: 100%;
    display: table;
    margin: auto;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1 {
    background-color: red;
    font-size: 2rem;
    padding: 3%;
}


header {
    border-bottom: 5px solid black;
}
body {
    height: 40rem;
    width: 40rem;
    margin-top: 10vh;
    vertical-align: middle;
    border: 5px solid black;
}
.sectionMessages {
    width: 100%;
    height: 65%;
    width: 100%;
}

.sectionInput {
    background: rgb(130, 135, 130);
    width: 100%;
    height: 23.2%;
}

.inputText {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 80%;
    height: 70%;
}

#button_send {
    width: 12%;
    height: 70%;
}

#button_clean {
    position:fixed;
    right:35%;
    bottom: 35%;
}